.header {
  width: 100%;
  background-color: #FFF;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--light-color);

  &_wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;

    a {
      cursor: pointer;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_links{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .links_item {
      margin: 0 20px;
      cursor: pointer;

      a {
        display: block;
        text-align: center;
        width: 80px;
        padding: 5px 10px;
        text-decoration: none;
        color: var(--dark-color);

        &:hover {
          color: var(--active);
          background-color: #E9E2FF;
          border-radius: 20px;
        }
      }
    }

    .active {
      border: 1px solid var(--active);
      border-radius: 20px;

      a {
        color: var(--active);
      }
    }
  }

  &_logout {
    justify-self: right;
  }
}

.courses_logo {
  width: 80%;
}

.btn_arrow {
  width: 20px;
  height: 20px;
  background-color: #FFF;
}
