<div class="course_card">
  <div class="course_content">
    <img class="course_img" [src]="course.url" alt="course_img"/>
    <h3 class="course_title">{{ course.title }}</h3>
    <ul class="course_info">
      <li><fa-icon class="info_icon" [icon]="lesson"></fa-icon> Lesson {{ course.lessons }}</li>
      <li><fa-icon class="info_icon" [icon]="clock"></fa-icon> {{ course.duration | duration }}</li>
      <li>Students {{ course.students }}+</li>
    </ul>

    <div class="course_action">
      <div class="course_author"><img class="author_img"/>{{ course.authors }}</div>
      <ng-content></ng-content>
    </div>
</div>
