.btn {
  display: inline-block;
  color: var(--dark-color);
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: rgb(184, 184, 184);
    color: var(--light-color);
  }

  &:hover {
    box-shadow: var(--shadow);
  }

  &:focus {
    background: var(--primary-color);
    color: var(--light-color);
  }

  &:active {
    background: var(--success-color);
    color: var(--light-color);
  }

  &_success {
    background: var(--success-color);
    color: var(--light-color);
  }

  &_primary {
    background: var(--primary-color);
    color: var(--light-color);
  }

  &_danger {
    background: var(--danger-color);
    color: var(--light-color);
  }

  &_light {
    background: var(--light-color);
    color: var(--dark-color);
  }

  &_warning {
    background: var(--warning-color);
    color: var(--dark-color);
  }

  &_show {
    color: var(--white);
    background-color: var(--active);
  }
}

.btn_wrap {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--active);

  .icon_wrapper {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 20px;
    margin-left: 10px;
    background-color: var(--active2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post_open {
  background-color: #E9E2FF;
  color: #704FE6;
  border: none;

  .icon_wrapper {
    background-color: #E3DBFF;
  }
}

.btn_icon {
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: var(--shadow);
  }
}
