.post{
  &_card {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px;
    padding: 25px;
    background-color: var(--light-color);
    height: 100%;
  }

  &_content {
    display: flex;
    flex-direction: column;
  
    img {
      max-width: 100%;
      flex: 0 0 auto;
    }
  }

  &_title {
    margin-top: 20px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 8px;
    list-style-type: none;
  }
}
