<footer class="footer">
  <div class="footer_wrapper wrapper">
    <div class="footer_logo">
      <img src="assets/images/logo.png" alt="logo" class="courses_logo">
      <p>Interdum velit laoreet id donec ultrices
        tincidunt arcu. Tincidunt tortor aliquam nulla
        facilisi cras fermentum odio eu.</p>
      <ul class="social_links">
        <li class="social_item"><a><img src="assets/images/links/01.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/02.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/03.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/04.png" alt="link"></a></li>
      </ul>
    </div>
    <div class="footer_services">
      <h3 class="title">Our Services:</h3>
      <ul>
        <li>Web development</li>
        <li>UI/UX Design</li>
        <li>Management</li>
        <li>Digital Marketing</li>
        <li>Blog News</li>
      </ul>
    </div>
    <div class="footer_links">
      <h3 class="title">Quick Links:</h3>
      <ul>
        <li>Templates</li>
        <li>Blog and Article</li>
        <li>Integrations</li>
        <li>Webinars</li>
        <li>Privacy & Policy</li>
      </ul>
    </div>
    <div class="footer_galery">
      <h3 class="title">Gallery</h3>
      <ul class="galery_fotos">
        <li class="galery_item"><img src="assets/images/galery/01.png" alt="foto"></li>
        <li class="galery_item"><img src="assets/images/galery/02.png" alt="foto"></li>
        <li class="galery_item"><img src="assets/images/galery/03.png" alt="foto"></li>
        <li class="galery_item"><img src="assets/images/galery/04.png" alt="foto"></li>
        <li class="galery_item"><img src="assets/images/galery/05.png" alt="foto"></li>
        <li class="galery_item"><img src="assets/images/galery/06.png" alt="foto"></li>
      </ul>
    </div>
  </div>
  <div class="copyright">Copyright © 2024 || All Rights Reserved</div>
</footer>