<div class="container">
  <div class="header">
    <img src="assets/images/course_background.png" alt="img">
    <span class="header_title">Опис Сайту</span>
  </div>
  <div class="wrapper">
    <h1>Сайт магазину онлайн курсів Coursue</h1>
    <p>Сайт надає можливість користувачам купувати онлайн курси та проходити навчання</p>
    <h3 class="section">Функціонал і структура сайту</h3>
    <section class="section">
      <h4>Хедер</h4>
      <ul>
        <li>Логотип, навігація, кнопка реєстрації</li>
        <li>Натискаючи на кнопку Create Account переходим на сторінку реєстрації</li>
      </ul>
    </section>
    <section class="section">
      <h4>Головна сторінка</h4>
      <ul>
        <li>Банер з пошуковою формою</li>
        <li>Список курсів</li>
        <li>Відгуки</li>
        <li>Посилання на статі блогу</li>
      </ul>
    </section>
    <section class="section">
      <h4>Футер</h4>
      <ul>
        <li>Контакти</li>
        <li>Посилання на соціальні мережі</li>
      </ul>
    </section>
    <section class="section">
      <h4>Сторінка реєстрації</h4>
      <ul>
        <li>Форма реєстрації</li>
        <li>Натискаючи на лінку Login переходимо на сторінку логіну</li>
      </ul>
    </section>
  </div>
</div>
