.username {
  margin: 0 20px 0 0;
}

.sertion {
  &_search {
    display: flex;
    background-image: url('../../../assets/images/search_background.png');
    background-repeat: no-repeat;
  }

  &_categories {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: var(--white);
    
    app-category {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &_courses {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  &_comments {
    background-image: url('../../../assets/images/comments_background.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 100px;
     
      app-comment:not(:last-child) {
        margin-right: 60px;
      }
    }

    app-label {
      padding-top: 40px;
      align-items: center;
    }
  }

  &_posts {
    background-color: var(--white);

    &-wrapper {
      display: flex;
      margin-top: 30px;
      padding-bottom: 70px;

      app-post:not(:last-child) {
        margin-right: 60px;
      }
    }

    app-button {
      margin-top: 20px;
    }

    app-label {
      display: block;
      padding: 40px 2rem 10px;
      width: 1200px;
      margin: 0 auto;
    }
  }
}

.search {
  display: flex;

  &_subtitile {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--active);
  }
  
  &_title {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    margin-right: 50px;
  
    h1 {
      font-size: 55px;
      line-height: 70px;
    }
  }

  &_desription {
    font-size: 15px;
    margin: 20px 200px 0 0;
  }
  
  &_img {
    width: 640px;;
  }
}

.courses {
  &_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      font-size: 40px;
      width: 450px;
    }
  }
}

.comments,
.posts {
  &_title {
    padding-top: 30px;
    line-height: 50px;

    h1 {
      font-size: 40px;
      width: 550px;
    }
  }
}

.posts_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.comments_title {
  h1 {
    margin: 0 auto;
    text-align: center;
  }
}

