.container {
  background-color: var(--white);

  .header {
    position: relative;

    &_title {
      width: 350px;
      position: absolute;
      top: calc(50% - 60px);
      left: calc(50% - 175px);
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: var(--active);
    }
  }

  .wrapper {
    .course {
      &-details {
        margin: 20px 0 100px;
      }

      &-info {
        table {
          margin-right: 20px;
        }
      }
    }
    
    > table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      vertical-align: top;
    }

    .course-header,
    .course-description,
    .button-group {
      margin-bottom: 20px;
    }

    .rating {
      display: table;
      margin-top: 10px;
    }

    .rating span {
      color: gold;
      font-size: 1.2em;
      display: table-cell;
    }

    .button-group {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      margin-top: 20px;
    }

    .button-group a {
      text-align: center;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      background-color: #6c63ff;
      color: white;
    }

    .button-group a:hover {
      background-color: #554bff;
    }

    .sidebar img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .buy-now {
      text-decoration: none;
      background-color: #6c63ff;
      color: white;
      display: block;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      margin: 20px;
    }

    .buy-now:hover {
      background-color: #554bff;
    }
  }
} 
